@{
    ViewBag.Title = "Contatos";
}
<div class="row">
    <div class="col-md-6">
        <address>
            <strong>GreenOak</strong><br>
            Travessa Casal da Pipa<br />
            Malpique<br />
            2250-364 SANTA MARGARIDA DA COUTADA<br />
            <abbr title="Telefone">T:</abbr> 21 243 782 5082<br />
            <abbr title="Skype">S:</abbr> green.oak<br />
            <a href="mailto:support@greenoak.com">support@greenoak.com</a>
        </address>
    </div>
    <div class="col-md-6">
        <p><img class="resize" src="http://maps.googleapis.com/maps/api/staticmap?center=39.4450132,-8.3115033&zoom=11&size=600x200&sensor=false"></p>
    </div>
</div>
