@{
    ViewBag.Title = "Contatos";
}
<div>
    <address>
        <strong>GreenOak</strong><br>
        Rua Brigadeiro Lino Valente 106<br />
        2250-364 SANTA MARGARIDA DA COUTADA<br />
        <abbr title="Telefone">T:</abbr> 21 243 782 5082<br />
        <abbr title="Skype">S:</abbr> green.oak<br />
        <a href="mailto:support@greenoak.com">support@greenoak.com</a>
    </address>
</div>
