@{
    ViewBag.Title = "Registar Faturas";
}

<script>
    function press(id, id2) {
        $("#" + id).fadeIn();
        $("#" + id2).fadeOut();
    }

    var counter = 1;
    var limit = 20;
    function addInput(divName){
        if (counter == limit) {
            alert("Não pode adicionar mais de 20 artigos!");
        }
        else {
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "Artigo " + (counter + 1);
            document.getElementById(divName).appendChild(newdiv);
            counter++;
        }
    }

    function registarVenda() {
        var entidade = $("#fatura_venda #Entidade").val();
        var serie = $("#fatura_venda #Serie").val();
        var codartigo = $("#fatura_venda #CodArtigo").val();
        var quantidade = parseInt($("#fatura_venda #Quantidade").val());
        var precounitario =parseInt($("#fatura_venda #PrecoUnitario").val());
        var desconto = parseInt($("#fatura_venda #Desconto").val());
        $.ajax({
            type: "POST",
            url: "/api/docvenda",
            data: { "Entidade": entidade, "Serie": serie, "LinhasDoc": [{ "CodArtigo": codartigo, "Quantidade": quantidade, "PrecoUnitario": precounitario, "Desconto": desconto }] },
            complete: function(){
                jQuery("#form_venda").submit();
            }
        });

    }
    var linhasDocVenda = [{ "CodArtigo": "MV.0001", "Quantidade": 5, "Armazem": "A2", "PrecoUnitario": 30, "Desconto": 0 }];
    var docvenda = { "Entidade": "C0002", "Serie": "A", "LinhasDoc": linhasDocVenda };
    var linhasDocCompra = [{ "CodArtigo": "MB.0001", "Quantidade": 5, "Armazem": "A2", "PrecoUnitario": 5, "Desconto": 2 }];
    var doccompra = { "Entidade": "F0001", "NumDocExterno": "1", "Serie": "A", "LinhasDoc": linhasDocCompra };
    function registarCompra() {
        var entidade = $("#fatura_compra #Entidade").val();
        var serie = $("#fatura_compra #Serie").val();
        var codartigo = $("#fatura_compra #CodArtigo").val();
        var armazem = $("#fatura_compra #Armazem").val();
        var quantidade = parseInt($("#fatura_compra #Quantidade").val());
        var precounitario = parseInt($("#fatura_compra #PrecoUnitario").val());
        var desconto =parseInt($("#fatura_compra #Desconto").val());
        var numdocexterno = $("#fatura_compra #NumDocExterno").val();
        $.ajax({
            type: "POST",
            url: "/api/doccompra",
            data: { "Entidade": entidade, "NumDocExterno": numdocexterno, "Serie": serie, "LinhasDoc": [{ "CodArtigo": codartigo, "Quantidade": quantidade, "Armazem": armazem, "PrecoUnitario": precounitario, "Desconto": desconto }] },
            complete: function () {
                jQuery("#form_compra").submit();
            }
        });
    }

</script>


<div id="start">
    <div class="row">
        <div class="col-md-6" style=" text-align: center">
            <h3>Comprar</h3>
            <span class="glyphicon glyphicon-shopping-cart btn-lg">
            </span>
            <p><button class="btn btn-lg btn-success" onclick="press('fatura_compra','start')">Proceder a Uma Compra</button></p>
        </div>
        <div class="col-md-6" style=" text-align: center">
            <h3>Vender</h3>
            <span class="glyphicon glyphicon-euro btn-lg">
            </span>
            <p><button class="btn btn-lg btn-primary" onclick="press('fatura_venda','start')">Proceder a Uma Venda</button></p>
        </div>

    </div>
</div>

    
<div id="fatura_venda" hidden>
    <div class="row">
        <div class="col-md-12">
            <h3>Introduza os campos da fatura</h3>
            <form class="form-horizontal" role="form" id="form_venda">
                
                <div class="form-group">
                    <label for="Entidade" class="col-sm-2 control-label">Entidade</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Entidade" value="C0002" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Serie" class="col-sm-2 control-label">Serie</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Serie" value="A" required>
                    </div>
                </div>
                <div id="Artigo_Venda">
                    <div class="form-group">
                        <label for="CodArtigo" class="col-sm-2 control-label">Código do Artigo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="CodArtigo" value="MV.0002" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Quantidade" class="col-sm-2 control-label">Quantidade</label>
                        <div class="col-sm-10">
                            <input type="number" step="1" class="form-control" id="Quantidade" value="0" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Preco" class="col-sm-2 control-label">Preço Unitário</label>
                        <div class="col-sm-10">
                            <input type="number" step="0.01" class="form-control" id="PrecoUnitario" value="0" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Desconto" class="col-sm-2 control-label">Desconto</label>
                        <div class="col-sm-10">
                            <input type="number" step="0.01" class="form-control" id="Desconto" value="0" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <!--<button type="button" onclick="addInput('Artigo_Venda');" class="btn btn-default text-center">Adicionar outro artigo</button>-->
                        <button type="submit" class="btn btn-success" onclick="registarVenda(); return false;">Submeter</button>
                    </div>
                </div>
            </form>
            <button class="btn btn-default" onclick="press('start', 'fatura_venda')">Voltar atrás</button>
        </div>
    </div>
</div>


<div id="fatura_compra" hidden>
    <div class="row">
        <div class="col-md-12">
            <h3>Introduza os campos da fatura</h3>
            <form class="form-horizontal" role="form" id="form_compra">
                <div class="form-group">
                    <label for="Entidade" class="col-sm-2 control-label">Entidade</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Entidade" value="F0001" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="NumDocExterno" class="col-sm-2 control-label">Número do Documento Externo</label>
                    <div class="col-sm-10">
                        <input type="number" step="1" class="form-control" value="2" id="NumDocExterno" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Serie" class="col-sm-2 control-label">Serie</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Serie" value="A" required>
                    </div>
                </div>
                <div id="Artigo_Compra">
                    <div class="form-group">
                        <label for="CodArtigo" class="col-sm-2 control-label">Código do Artigo</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="CodArtigo" value="MB.0001" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Armazem" class="col-sm-2 control-label">Armazem</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="A2" id="Armazem" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Quantidade" class="col-sm-2 control-label">Quantidade</label>
                        <div class="col-sm-10">
                            <input type="number" step="1" class="form-control" value="0" id="Quantidade" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Preco" class="col-sm-2 control-label">Preço Unitário</label>
                        <div class="col-sm-10">
                            <input type="number" step="0.01" class="form-control" value="0" id="PrecoUnitario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Desconto" class="col-sm-2 control-label">Desconto</label>
                        <div class="col-sm-10">
                            <input type="number" step="0.01" class="form-control" id="Desconto" value="0" required>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <!--<button type="button" onclick="addInput('Artigo_Compra');" class="btn btn-default text-center">Adicionar outro artigo</button>-->
                            <button type="submit" class="btn btn-success" onclick="registarCompra(); return false;">Submeter</button>
                        </div>
                    </div>
</form>
            <button class="btn btn-default" onclick="press('start', 'fatura_compra')">Voltar atrás</button>
        </div>
    </div>
</div>


