@font-face{
    font-family:'Lobster';
    src: 
        url('/fonts/Lobster-Regular.ttf')
        format('truetype');
}

@font-face{
    font-family:'Raleway';
    src: 
        url('/fonts/Raleway-Regular.ttf')
        format('truetype');
}

* {
    margin: 0;
}

html, body {
    font-family:'Raleway',sans-serif;
    font-size:16px;
	height: 100%;
    background-image: url('/img/wood_pattern.png');
    background-color: #F3CC96;
    color: #330000;
}
h1,h2,h3,h4,h5,h6,li{
    font-family: 'Lobster',cursive;
}
#logo > div > h1{
    font-family: 'Lobster',cursive;
    text-shadow: 1px -1px #888888;
    font-size:72px;
}

#logo > div > h2{
    font-family: 'Lobster',cursive;
    font-size:36px;
    text-align:right;
}

#logo {
    padding-bottom:1%;
}

.wrapper {

	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -35px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 35px; /* .push must be the same height as .footer */
}

a, a:visited{
    color: #330000;
}

a:hover{
    color: #660000;
}

.panel-default {
    background-color: #CD853F;
    border: none;
    box-shadow: 2px 2px 9px #888888;
}

.content{
}

img.resize{
    width:100%; /* you can use % */
    height: auto;
}

#hidden-navigation-small{
    padding-bottom:3%;
}