* {
	margin: 0;
}
html, body {
	height: 100%;
    background-image: url('/img/wood_pattern.png');
    background-color: #996600;
    color: #330000;
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}

a, a:visited{
    color: #330000;
}

a:hover{
    color: #660000;
}

.nav-tabs {
    border-bottom-color: #663300;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus{
    background-color: #996600;
    border-color: #996600;
    border-bottom-color: #663300;
} 

.panel-default {
    background-color: #996600;
    border-color: #663300;
}

.content, header {
    padding-top:1%;
}