@{
    ViewBag.Title = "Consultar Documentos";
}

<div class="row" id="loadingVenda">
    <div class="col-md-6 col-md-offset-3">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Carregando documentos venda</span>
            </div>
        </div>
    </div>
</div>
<div id="documentosVenda" hidden>
    <table id="tabelaVenda" class="table table-striped">
        <thead>
            <tr>
                <td>Documento Venda</td>
            </tr>
        </thead>
        <tbody id="doc"></tbody>
    </table>
</div>
<div class="alert alert-danger" role="alert" id="documentosVendaErro" hidden>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Erro:</span>
    <span id="message"></span>
</div>
<div class="row" id="loadingCompra">
    <div class="col-md-6 col-md-offset-3">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Carregando documentos compra</span>
            </div>
        </div>
    </div>
</div>
<div id="documentosCompra" hidden>
    <table id="tabelaCompra" class="table table-striped">
        <thead>
            <tr>
                <td>Documento Compra</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="alert alert-danger" role="alert" id="documentosCompraErro" hidden>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Erro:</span>
    <span id="message"></span>
</div>
<script>
    google.load('visualization', '1.0', { 'packages': ['corechart', 'table'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(docsVenda);
    google.setOnLoadCallback(docsCompra);
    var docvenda = [];
    var doccompra = [];
    var requestVenda = $.ajax({
        url: "/api/docvenda",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (Venda in data) {
                for (Doc in data[Venda].LinhasDoc) {
                    var venda = { data: '', entidade: '', codart: 0, qtd: 0, totliq: 0 }
                    venda.entidade = data[Venda].Entidade;
                    venda.data = data[Venda].Data;
                    venda.qtd = data[Venda].LinhasDoc[Doc].Quantidade;
                    venda.codart = data[Venda].LinhasDoc[Doc].CodArtigo;
                    venda.totliq = data[Venda].LinhasDoc[Doc].TotalLiquido;
                    docvenda.push(venda);
                }
            }
            $(loadingVenda).fadeOut();
        }
    });

    function docsVenda() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Data');
        data.addColumn('string', 'Entidade');
        data.addColumn('string', 'Código Artigo');
        data.addColumn('number', 'Quantidade');
        data.addColumn('number', 'Total Líquido');
        for (index in docvenda) {
            data.addRows([
                [docvenda[index].data, docvenda[index].entidade, docvenda[index].codart, docvenda[index].qtd, docvenda[index].totliq]
            ]);
        }
        // Set chart options

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.Table(document.getElementById('table_div_venda'));
        chart.draw(data);
        $(window).resize(function () {
            chart.draw(data);
        });
    }
    var requestCompra = $.ajax({
        url: "/api/doccompra",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (Compra in data) {
                for (Doc in data[Compra].LinhasDoc) {
                    var compra = { data: '', entidade: '', codart: 0, qtd: 0, totliq: 0 }
                    compra.entidade = data[Compra].Entidade;
                    compra.data = data[Compra].Data;
                    compra.qtd = data[Compra].LinhasDoc[Doc].Quantidade;
                    compra.codart = data[Compra].LinhasDoc[Doc].CodArtigo;
                    compra.totliq = data[Compra].LinhasDoc[Doc].TotalLiquido;
                    doccompra.push(compra);
                }
            }
            $(loadingCompra).fadeOut();
        }
    });
    

    function docsCompra() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Data');
        data.addColumn('string', 'Entidade');
        data.addColumn('string', 'Código Artigo');
        data.addColumn('number', 'Quantidade');
        data.addColumn('number', 'Total Líquido');
        for (index in doccompra) {
            data.addRows([
                [doccompra[index].data, doccompra[index].entidade, doccompra[index].codart, doccompra[index].qtd, doccompra[index].totliq]
            ]);
        }
        // Set chart options

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.Table(document.getElementById('table_div_compra'));
        chart.draw(data);
        $(window).resize(function () {
            chart.draw(data);
        });
    }
</script>
<p><h3>Documentos de Venda</h3><div id="table_div_venda"></div></p>
<p><h3>Documentos de Compra</h3><div id="table_div_compra"></div></p>