@{
    ViewBag.Title = "Estatísticas";
}
<script>
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart','table']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(fornecedores);
    google.setOnLoadCallback(compras_vendas);
    google.setOnLoadCallback(clientes);
    google.setOnLoadCallback(topVendas);
    google.setOnLoadCallback(topCompras);
    var numeroVendas = 0;
    var numeroCompras = 0;
    var precoVendas = 0;
    var precoCompras = 0;

    var compras2014 = { numero: 0, preco: 0 };
    var compras2015 = { numero: 0, preco: 0 };
    var compras2016 = { numero: 0, preco: 0 };

    var vendas2014 = { numero: 0, preco: 0 };
    var vendas2015 = { numero: 0, preco: 0 };
    var vendas2016 = { numero: 0, preco: 0 };

    var dividaVendas = -4545;
    var pagoVendas = 3000;
    var pagoCompras = 3000;
    var dividaCompras = -3242;
    var cores = ['red', 'blue', 'gold', 'pink', 'green'];

    var comprasEfetuadas = [];
    var vendasEfetuadas = [];
    
    var topArtVendidos = [];
    var topArtComprados = [];


    var requestTopArtComprados = $.ajax({
        url: "/api/artigosmaiscomprados",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (index in data) {
                topArtComprados.push(data[index]);
            }
        }

    });

    var requestTopArtVendidos = $.ajax({
        url: "/api/artigosmaisvendidos",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (index in data) {
                topArtVendidos.push(data[index]);
            }
        }

    });

    var requestCompras = $.ajax({
        url: "/api/doccompra",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (index in data) {
                for (index1 in data[index].LinhasDoc) {
                    var efetuada = { entidade: '', qtd: 0, art: '' }
                    efetuada.entidade = data[index].Entidade;
                    efetuada.qtd = data[index].LinhasDoc[index1].Quantidade;
                    efetuada.art = data[index].LinhasDoc[index1].DescArtigo;
                    comprasEfetuadas.push(efetuada);
                }
                
            }
        }

    });
    
    var requestVendas = $.ajax({
        url: "/api/docvenda",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (index in data) {
                for (index1 in data[index].LinhasDoc) {
                    var efetuada = { entidade: '', qtd: 0, art: '' }
                    efetuada.entidade = data[index].Entidade;
                    efetuada.qtd = data[index].LinhasDoc[index1].Quantidade;
                    efetuada.art = data[index].LinhasDoc[index1].DescArtigo;
                    vendasEfetuadas.push(efetuada);
                }
            }
        }

    });
    var requestVenda = $.ajax({
        url: "/api/docvenda",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (index in data) {
                var date = new Date(data[index].Data);
                var dataStr = date.getFullYear().toString();
                if (dataStr == "2014") {
                    vendas2014.numero++;
                    vendas2014.preco += data[index].TotalMerc;
                }
                if (dataStr == "2015") {
                    vendas2015.numero++;
                    vendas2015.preco += data[index].TotalMerc;
                }
                if (dataStr == "2016") {
                    vendas2016.numero++;
                    vendas2016.preco += data[index].TotalMerc;
                }
            }
        }
    });
    var requestCompra = $.ajax({
        url: "/api/doccompra",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (index in data) {
                var date = new Date(data[index].Data);
                var dataStr = date.getFullYear().toString();
                if (dataStr == "2014") {
                    compras2014.numero++;
                    compras2014.preco += data[index].TotalMerc;
                }
                if (dataStr == "2015") {
                    compras2015.numero++;
                    compras2015.preco += data[index].TotalMerc;
                }
                if (dataStr == "2016") {
                    compras2016.numero++;
                    compras2016.preco += data[index].TotalMerc;
                }
            }
        }
    });

    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function compras_vendas() {

        // Create the data table.
        var data2014 = new google.visualization.DataTable();
        data2014.addColumn('string', 'Compras/Vendas');
        data2014.addColumn('number', 'Quantidade');
        data2014.addRows([
          ['Vendas', vendas2014.preco],
          ['Compras', (-1)*compras2014.preco]
        ]);

        var data2015 = new google.visualization.DataTable();
        data2015.addColumn('string', 'Compras/Vendas');
        data2015.addColumn('number', 'Quantidade');
        data2015.addRows([
          ['Vendas', vendas2015.preco],
          ['Compras', (-1) * compras2015.preco]
        ]);

        var data2016 = new google.visualization.DataTable();
        data2016.addColumn('string', 'Compras/Vendas');
        data2016.addColumn('number', 'Quantidade');
        data2016.addRows([
          ['Vendas', vendas2016.preco],
          ['Compras', (-1) * compras2016.preco]
        ]);

        // Set chart options

        // Instantiate and draw our chart, passing in some options.
        var chart2014 = new google.visualization.PieChart(document.getElementById('chart_div_pie_1'));
        chart2014.draw(data2014, { backgroundColor: 'transparent', is3D: true });

        var chart2015 = new google.visualization.PieChart(document.getElementById('chart_div_pie_2'));
        chart2015.draw(data2015, { backgroundColor: 'transparent', is3D: true });
        var chart2016 = new google.visualization.PieChart(document.getElementById('chart_div_pie_3'));
        chart2016.draw(data2016, { backgroundColor: 'transparent', is3D: true });

        $(window).resize(function () {
            chart2014.draw(data2014, { backgroundColor: 'transparent', is3D: true });
            chart2015.draw(data2015, { backgroundColor: 'transparent', is3D: true });
            chart2016.draw(data2016, { backgroundColor: 'transparent', is3D: true });
        });
    }

    function topVendas() {
        // Create the data table.
        
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Artigo');
        data.addColumn('number', 'Quantidade');
        data.addColumn({ type: 'string', role: 'style'});
        for (index in topArtVendidos) {
            data.addRows([
                [topArtVendidos[index].Descricao, parseFloat(topArtVendidos[index].Soma),cores[index]]
            ]);
        }
        // Set chart options
        var options = {
            'title': 'Top de artigos vendidos',
            legend : {position:'none'}
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div4'));
        chart.draw(data, options);
        $(window).resize(function () {
            chart.draw(data, options);
        });
    }

    function topCompras() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Artigo');
        data.addColumn('number', 'Quantidade');
        data.addColumn({ type: 'string', role: 'style' });
        for (index in topArtComprados) {
            data.addRows([
                [topArtComprados[index].Descricao, (-1) * parseFloat(topArtComprados[index].Soma), cores[index]]
            ]);
        }
        // Set chart options
        var options = {
            legend: { position: 'none' }
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('chart_div5'));
        chart.draw(data, options);
        $(window).resize(function () {
            chart.draw(data, options);
        });
    }

    function fornecedores() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Fornecedor');
        data.addColumn('string', 'Artigo');
        data.addColumn('number', 'Quantidade');
        for (index in comprasEfetuadas) {
            data.addRows([
                [comprasEfetuadas[index].entidade,comprasEfetuadas[index].art, (-1) * comprasEfetuadas[index].qtd]
            ]);
        }
        // Set chart options

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.Table(document.getElementById('chart_div2'));
        chart.draw(data);
        $(window).resize(function () {
            chart.draw(data);
        });
    }

    function clientes() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Cliente');
        data.addColumn('string', 'Artigo');
        data.addColumn('number', 'Quantidade');
        for (index in vendasEfetuadas) {
            data.addRows([
                [vendasEfetuadas[index].entidade,vendasEfetuadas[index].art,vendasEfetuadas[index].qtd]
            ]);
        }

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.Table(document.getElementById('chart_div3'));
        chart.draw(data);
        $(window).resize(function () {
            chart.draw(data);
        });
    }
   
</script>
<div class="row">
    <h2 class="text-center">Previsões tendo em conta os valores de faturação</h2>
    <div class="col-md-4">
        <p><h3>Total Monetário em Faturas em 2014</h3><div id="chart_div_pie_1"></div></p>
    </div>
    <div class="col-md-4">
        <p><h3>Total Monetário em Faturas em 2015</h3><div id="chart_div_pie_2"></div></p>
    </div>
    <div class="col-md-4">
        <p><h3>Total Monetário em Faturas em 2016</h3><div id="chart_div_pie_3"></div></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><h3>Compras efetuadas a fornecedores</h3><div id="chart_div2"></div></p>
    </div>
    <div class="col-md-6">
        <p><h3>Vendas efetuadas a clientes</h3><div id="chart_div3"></div></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><h3>Top de artigos vendidos</h3><div id="chart_div4"></div></p>
    </div>
    <div class="col-md-6">
        <p><h3>Top de artigos comprados</h3><div id="chart_div5"></div></p>
    </div>
</div>




