@{
    ViewBag.Title = "GreenOak - Sobre";
}

<div>
    <h2>Sobre Nós</h2>
    <p>A GreenOak é uma empresa que se dedica à construção de móveis.<br />
    Todos os móveis são feitos a partir da melhor matéria prima disponível no mercado desde madeiras, vidros ou mesmo cortiça.<br />
    Após a sua produção, o nosso produto é vendido ao cliente com a garantia de uma qualidade e satisfação inegualáveis.</p>
</div>
