@{
    ViewBag.Title = "Sobre Nós";
}

<div>
    <div class="media">
        <a class="media-left media-middle">
            <img src="/img/oak.png" alt="GreenOak Logo" style="max-width:200px">
        </a>
        <div class="media-body">
            <p>
                A GreenOak é uma empresa que se dedica à construção e venda de móveis.<br />
                Todos os móveis são feitos a partir da melhor matéria prima disponível no mercado desde madeiras, vidros ou mesmo cortiça.<br />
                Após a sua produção, o nosso produto é vendido ao cliente com a garantia de uma qualidade e satisfação inigualáveis.
            </p>  
        </div>
    </div>
</div>
