@{
    ViewBag.Title = "Artigos";
}
<div class="row" id="loading">
    <div class="col-md-6 col-md-offset-3">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Carregando os artigos</span>
            </div>
        </div>
    </div>
</div>

<div id="artigos" hidden>
    <table id="tabelaArtigos" class="table table-striped">
        <thead>
            <tr>
                <td>Código</td>
                <td>Descrição</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="alert alert-danger" role="alert" id="artigosErro" hidden>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Erro:</span>
    <span id="message"></span>
</div>
<script>
    var arts = [];
    google.load('visualization', '1.0', { 'packages': ['corechart', 'table'] });

    google.setOnLoadCallback(artigos);

    var requestArtigos = $.ajax({
        url: "/api/artigos",
        type: 'GET',
        async: false,
        cache: false,
        timeout: 30000,
        error: function () {
            return true;
        },
        success: function (data) {
            for (index in data) {
                arts.push(data[index]);
            }
            $("#loading").fadeOut();
        }
    });

    function artigos() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Código Artigo');
        data.addColumn('string', 'Descrição Artigo');
        for (index in arts) {
            data.addRows([
                [arts[index].CodArtigo,arts[index].DescArtigo]
            ]);
        }
        // Set chart options

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.Table(document.getElementById('table_div'));
        chart.draw(data);
        $(window).resize(function () {
            chart.draw(data);
        });
    }
</script>

<p>
    <div id="table_div">

    </div>
</p>